---
/**
 * InfoBox Component
 * Displays an information box with icon, title, and content
 * Requirements: 4.5
 */

interface Props {
  icon: string;
  title: string;
}

const { icon, title } = Astro.props;
---

<div class="info-box">
  <div class="info-box-icon">{icon}</div>
  <div class="info-box-content">
    <div class="info-box-title">{title}</div>
    <div class="info-box-text">
      <slot />
    </div>
  </div>
</div>
